<hr>
<div class=row>
        <div class=" col-sm-6 "><h4>{{i}}/{{tot}}</h4></div>
        <div class="col-sm-6 text-danger"><h3>{{(seconds).toFixed(1)}}</h3></div>
    </div>
 <hr>   
    <div class=row>
            <div class="col-sm-4"><p>Almost Same <br> Swipe Left</p></div>
            <div class="col-sm-4"><p>Other <br> Swipe Down</p></div>
            <div class="col-sm-4"><p>Almost Opposite <br> Swipe Right</p></div>
        </div>
<hr>
<div class="tphoto"
[@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState($event)"
      (swipeleft)='startAnimation("swipeleft")' 
      (swiperight)='startAnimation("swiperight")'
      (swipedown)='startAnimation("swipedown")'
      >
<div>{{word1}}</div>
<br>
<div>{{word2}}</div>
</div>